.idea/
/haadic/simulators/simulator.yml
*.env
/haadic/techno.yml
/site/
/pdk/*
/dist/haadic-*.tar.gz
/dist/haadic-*.whl
!/pdk/mock/
!/pdk/patches/
/tmp/
*.log
/workdir/gen_active*/
*/__pycache__/*
*.vhdx
*.pyc
.coverage
