.idea/
/hades/simulators/simulator.yml
*.env
/hades/techno.yml
/site/
/pdk/*
/dist/hades-*.tar.gz
/dist/hades-*.whl
!/pdk/mock/
!/pdk/patches/
/tmp/
*.log
/workdir/
!/workdir/generate.py
*/__pycache__/*
*.vhdx
*.pyc
.coverage
